* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  height: 100%;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  line-height: normal;
  align-items: center;
}

.nav-bar-link {
  text-decoration: none;
  padding-left: 15px;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

.account-icon-link {
  border-radius: 50%;
  padding: 0px 15px;
}

.google-center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-bar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #ddd;
  flex: 1;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.footer-left-side {
  display: flex;
  flex-direction: row;
}

.footer-right-side {
  display: flex;
  flex-direction: row;
}

.footer-items {
  display: block;
  padding: 10px 0 10px 30px;
  text-decoration: none;
  color: grey;
}
