header{
    font-family: arial, sans-serif;
    font-size: 13px;
    width: fit-content;
}

#top-nav-bar{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li{
    float: left;
}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    position: relative; left: 1300px;
    text-decoration: none ;
}

li a:hover{
    text-decoration: underline;
}

#google-centre-logo{
    position: relative; left: 700px; top: 200px;
}

body{
    font-family: arial, sans-serif;
    font-size: 14px;
    width: fit-content;
}

#search-bar{
    position: relative; left: 600px; top: 220px;
    width: 487px;
    height: 37px; ;
}

#google-search-button{
    position: relative; left: 640px; top: 250px;
}

#I\'m-feeling-lucky-button{
    position: relative; left: 950px; top: 220px;
}

#language-referral-button{
    position: relative; left: 770px; top: 250px;
}